<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BackendKit</title>
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" sizes="any">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav class="navbar">
    <p>Project Name</p>
    <button class="nav-btn">
      <a href="/">Home</a>
    </button>
    <button class="nav-btn">
      <a href="/about">About</a>
    </button>
    <button class="nav-btn">
      <a href="/contact">Contact</a>
    </button>
    <button class="nav-btn">
      <a href="/stuff">Stuffs</a>
    </button>
  </nav>

  {{!-- This main div is by default set to 100% all axes --}}
  <div class="main">
    {{{body}}}
  </div>
</body>
</html>