<link rel="stylesheet" href="/css/home.css">

<div class="d-flex flex-column justify-content-center align-items-center text-center">
  <h2 class="fs-2 fw-semibold">Mohammed is a Douche</h2>
  <img src="/img/my_image.jpg" alt="Headshot host image">
  <div class="fs-6">
    <p>He will never get a girlfriend</p>
    <p>Not with that face</p>
  </div>
</div>