<link rel="stylesheet" href="/css/home.css">

{{!-- wrapper flex div --}}
<div class="home-wrap">
  <h2>Mohammed is a Douche</h2>
  <img src="/img/my_image.jpg" alt="Host image">
  <div>
    <p>He will never get a girlfriend</p>
    <p>Not with that face</p>
  </div>
</div>