img {
	max-width: 40%;
	font-style: italic;
	object-fit: cover;
	display: block;
	aspect-ratio: 1;
	filter: grayscale(0.6);
}

p {
	margin: 0;
}

@media (max-width: 570px) {
	img {
		max-width: 80%;
	}
}
